
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway:wght@500&display=swap')



* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none; 
}

body {
    font-family: Merriweather, sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header {
    
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

footer {
    height: 300px;
    background-color: #323f4e;
}


 #nav ul {                        
    margin-right: 0;
    padding: 0;
    display: flex;
}

#nav li a {
    text-decoration: none;
    color: #323f4e;
}

#nav li {
    letter-spacing: 4px;
    font-size: 110%;
    list-style-type: none;
    padding-right: 100px;
}

.active {
    border-bottom: 1px solid #323f4e;
}

#logo {

        display: flex;
        width: 300px;
        background: transparent;
        float: left;
    }
    

    
#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 800px;
    width: 100%; 
    background-image: url(../images/hero2-unsplash-placeholder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* animation: scrollBackground 20s linear infinite reverse; */
}

/* @keyframes scrollBackground {
    0% {
        background-position: 0 0;
      }
      100% {
        background-position: 0 -3240px;
      }
} */

#hero-text {
    font-size: 130%;
    /* font-family: Merriweather, sans-serif; */
    letter-spacing: 3px;

    /* width: 400px;
    height: 150px; */

    padding-top: 30px;
    padding-left: 10px;

    background-color: rgba(79, 60, 58, 0.8);
    border-radius: 2%;

    bottom: 30px;
    right: 80px;
    position: absolute;
    text-align: center;
    color: #fff7d6;
}


.menu-background {
    /* width: 100%%;
    height: 100vh; */
    background-color: aquamarine;
    border: 1px solid #ffff;
    /* position: relative; */

}

.grid-buy-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    flex-wrap: wrap;
}

.grid-buy-item {
    width: 300px;
    height: 400px;
    /* flex-basis: 33%; */
}

.grid-buy-item img {
    max-width: 100%;
    height: auto;
}

#footer-nav {
    list-style: none;
    float: left; 
}

#footer-nav li {
    display: inline-block;
    margin-right: 10px;
}

#footer-nav li a {
    text-decoration: none;
    color: #fff7d6;
}


#site-footer-right {
    float: right;
}

#payment-icons {
    font-size: 0;
    list-style: none;
}

#payment-icons li {
    float: right;
    display: flex; */
    vertical-align: top;
    margin-top: 70%;
    margin-bottom: 10px;
    margin-right: 20px;
}

