
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Raleway:wght@600&display=swap');



* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Merriweather, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1,
h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    
}

header {
    height: 200px;
    background-color: #3a3a3a;
}

footer {
    height: 200px;
    background-color: #3a3a3a;
}

#logo #nav {
    line-height: 100px;
}

#nav {
        font-size: 110%;
        letter-spacing: 4px;
    }

#nav li {

        list-style-type: none;
        margin-right: 30px;
        margin-top: 15%;
        float: right;
    }

.actve {
    border-bottom: 1px solid #3a3a3a;
}

#logo {

        display: flex;
        width: 300px;
        background: transparent;
        float: left;
    }
    
#logo a {
        text-decoration: none; /* Remove underline for the anchor */
    }
    
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero1-unsplash.jpg') no-repeat center center;
    display: flex;
    flex-direction: row;
    background-size: cover;
}

#hero-text {
    font-size: 130%;
    font-family: Merriweather, sans-serif;
    letter-spacing: 3px;

    width: 400px;
    height: 150px;

    padding-top: 30px;
    padding-left: 10px;

    background-color: rgba(245, 184, 120, .7);

    bottom: 30px;
    right: 80px;
    position: absolute;
    text-align: center;

}

#hero-text {
    color: #fff
}