* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #E1E2E7;
}

h1, h2 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #E1E2E7;
}

footer {
    height: auto;
    background-color: #323f4e;
    overflow: auto;
}

a {
    text-decoration: none;
}

#nav {
    margin: 10% 0;
}

#nav li a {
    color: #323f4e;
}

#nav li {
    letter-spacing: 4px;
    font-size: 110%;
    list-style-type: none;
    padding-right: 100px;
}

.active {
    border-bottom: 1px solid #323f4e;
}

#logo {
    max-width: 300px;
    height: auto;
    text-decoration: none;
}

/* Home page CSS start */

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Hero slide */

#hero-container {
    background: url(../images/hero-unsplash-bg-scaled.webp) no-repeat center center;
    height: 800px;
    width: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#slideset2 {
    height: 800px;
    position: relative;
    overflow: hidden;
}

#slideset2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

#slideset2 img:first-child {
    opacity: 0; /* Show the first image initially */
}

#slideset2 img:not(:first-child) {
    display: none; /* Hide other images initially */
}

/* Buy page CSS start*/

.menu-background {
    width: 100%;
    padding: 10px 0;
}

.buy-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #E1E2E7;
    margin: 10px 10% 10px 10%;
}

.buy-item {
    box-sizing: border-box;
    justify-self: center;
    max-width: 300px;
    padding: 20px 30px 20px 30px;
    color: #161510;
    margin: 3px;
}

.buy-item img,
.buy-item h2,
.buy-item p,
.buy-item h4,
.buy-item h3,
.buy-item .buy-button {
  margin-bottom: 10px;
}

.buy-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #323f4e;
}

.buy-item img:hover {
    animation-name: item-zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes item-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.buy-button {
	background-color: #323f4e;
	color: #E1E2E7;
	border-style: outset;
	border-color: #161510;
	height: 50px;
	width: 100px;
    font-size: 100%;
}

.buy-button:hover {
    background-color: #E1E2E7;
    color: #323f4e;
}

/* Sell/Contact page CSS start*/

.input-container {
    width: 80%;
    background-color: #E1E2E7;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 10% 10px 10%;
}

.input-container h1 {
    font-size: 200%;
    padding-top: 20px;
    color: #323f4e;
}

.input-form {
    width: 60%;
    border: 3px solid #323f4e;
    margin: 20px 0 20px 0;
}

.input {
    padding: 10px 30px 10px 30px;
    color: #161510;
    font-size: 100%;
    font-weight: bold;
}

.input input {
    width: 100%;
    height: 40px;
    font-size: 100%;
}

.radio {
    display: flex;
    flex-direction: column;
    padding: 10px 30px 10px 30px;
    color: #161510;
    font-size: 100%;
    font-weight: bold;
}

.checkbox {
    padding: 10px 30px 10px 30px;
    color: #161510;
    font-size: 100%;
    font-weight: bold;
}

.select-box {
    display: flex;
    flex-direction: column;
}

.select-input {
    font-size: 16px; 
    padding: 8px; 
    width: 200px; 
    border: 1px solid #ccc; 
    background-color: #fff;
    color: #161510;
}

.input-submit {
	background-color: #323f4e;
	color: white;
	border-style: outset;
	border-color: #161510;
	height: 50px;
	width: 100px;
    margin: 10px 30px 10px 30px;
    font-size: 100%;
}


.input-submit:hover {
    background-color: #161510;
}

/* Footer CSS Start*/

#footer-top {
    display: flex;
    justify-content: space-between;
    
}

#footer-top-left {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

#footer-nav {
    list-style: none;
    float: left; 
    font-size: x-small;
    margin-top: 5px;
}

#footer-nav li a {
    text-decoration: none;
    color: #E1E2E7;
}

.social-networks {
    margin-top: 20px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding-right: 10px;
    color: #E1E2E7;
}

#footer-bottom {
    display: flex;
    justify-content: space-between;
}

#site-footer-left {
    font-size: small;
    max-width: 70%;
    padding-left: 10px;
    padding-bottom: 10px;
}

#payment-icons {
    font-size: 0;
    list-style: none;
    margin-right: 20px;
}

#payment-icons li {
    float: right;
}

/* About page CSS */

#about-container {
    width: 80%;
    margin: 0 10% 0 10%; 
    color: #161510;
}

#about-container h1 {
    font-size: 200%;
}

#about-us {
    background-color: #323f4e;
    color: #E1E2E7;
    margin: 20px 0 20px;
    padding: 10px 10px 10px 10px;
}

#warranty {
    background-color: #161510;
    color: #E1E2E7;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
}

/* trusthostess widget modified and found on https://codepen.io/himstar/pen/eQzEeg */

.trustpilot-widget {
    color: #fff;
    padding: 5px 0 25px 0;
    overflow: hidden;
    margin-right: 20px;
}

.trustpilot-widget .wrapper-left a {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
}

.trustpilot-widget .wrapper-left .title {
    color: #fff;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.trustpilot-widget .wrapper-left .rating img {
    max-width: 160px;
    margin: auto;
}

.trustpilot-widget .wrapper-left .brand-logo img {
    max-width: 25px;
    margin: auto;
    margin-top: -10px;
    display: inline-block;
}

.trustpilot-widget .wrapper-left .brand-logo p {
    /* font-size: 18px; */
    line-height: 35px;
    color: #fff;
    text-align: center;
    display: inline-block;
}

  /* Media Queries */

@media (max-width: 600px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
}

@media (max-width: 1300px) {
    .input-container {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 800px) {
    .input-form {
        width: 100%;
        margin: 0;
    }
}

/* Media Queries buy page */

@media (max-width: 1300px) {
    .buy-container {
        width: 100%;
        margin: 0;
    }    
}

@media (max-width: 1024px) {
    .buy-container {
        grid-template-columns: repeat(3, 1fr);
    }    
}

@media (max-width: 896px) {
    .buy-container {
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media (max-width: 600px) {
    .buy-container {
        grid-template-columns: repeat(1, 1fr);
    }    
}

/* about page */

@media (max-width: 1300px) {
    #about-container {
        width: 100%;
        margin: 0;
    }
}